.Alert {
  position: fixed;
  bottom: 10px;
  left: -100%;

  padding: 12px;

  border-radius: 5px;
  background-color: #dd133b;
  font-size: 18px;
  color: #ffffff;

  transition: opacity 2s, left 0.8s;
  opacity: 0.5;
}

.AlertAnimated {
  opacity: 1;
  left: 15px;
}
