@import "../../../globalStyles/variables.scss";

.Button {
  padding: 8px 12px;
  background-color: rgba($white, 0.8);

  border: none;
  border-radius: 8px;
  color: rgba($crimson, 0.8);

  font-size: 0.9rem;

  outline: none;
  cursor: pointer;

  transition: background-color 0.4s ease, color 0.4s ease;

  &:hover {
    background-color: lighten($color: rgba($crimson, 0.8), $amount: 25);
    color: $white;
  }

  &.Active {
    background-color: rgba($crimson, 0.8);
    color: $white;

    &:hover {
      box-shadow: 0px 0px 10px rgba($color: $crimson, $alpha: 0.5);
    }
  }

  &.Transparent {
    background-color: transparent;
    color: $gray_dark;

    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
