@import "../../globalStyles/variables.scss";

.HeaderTitle {
  padding: 12px;
  text-align: center;
  color: rgba($crimson, 0.8);
  
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
