@import '../../globalStyles/variables.scss';

.HeaderTitle {
  padding: 12px;
  text-align: center;
  color: rgba($crimson, 0.8);

  font-size: 3.8rem;
  font-weight: 900;
  text-transform: uppercase;

  @include media-mobile_S {
    font-size: 2.5rem;
  }
}
