@import "../../globalStyles/variables.scss";

.TodoContainer {
  padding: 0 23%;
  margin: 2.5rem auto;

  @include media-laptop() {
    padding: 0 13%;
  }

  @include media-mobile_L() {
    padding: 0 6%;
  }

  @include media-mobile_S {
    margin: 2rem auto;
  }
}

.TodosHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
  padding: 0 0.75rem;

  @include media-mobile_S {
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.75rem;
  }
}
