.ProgressIndicator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 70%;
  margin: 5px auto;
}

$borderRadius: 8px;

.ProgressGraphic {
  display: inline-block;
  position: relative;

  width: 90%;
  height: 8px;
  
  border-radius: $borderRadius;
  background-color: #bdbdbd;
}

.ProgressValue {
  color: #5e5e5e;
  font-weight: 600;
  font-size: 18px;
}

.ProgressDone {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  
  border-radius: $borderRadius;

  box-shadow: 0 0 20px rgba(221, 19, 59, 0.5);
  background-color: #dd133b;
  
  transition: width 1s ease;
}
