@import '../../../globalStyles/variables.scss';

.ProgressIndicator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 15px auto;
}

$borderRadius: 8px;

.ProgressGraphic {
  display: inline-block;
  position: relative;

  width: 90%;
  height: 15px;

  border-radius: $borderRadius;
  background-color: $gray;
}

.ProgressValue {
  color: $gray_dark;
  font-weight: 600;
  margin-right: 10px;
  font-size: 1.6rem;
}

.ProgressDone {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;

  border-radius: $borderRadius;

  box-shadow: 0 0 20px rgba($crimson, 0.5);
  background-color: $crimson;

  transition: width 1.2s ease;
}
